.nav {
    grid-area: n;
    min-width: 200px;
    max-width: 300px;
    padding: 30px 10px 0px 10%;
    border-right: solid;
    border-width: 1px;
    a {
        display: block;
        color: rgb(133, 133, 133);
        font-size: 20px;
        text-decoration: none;
        margin: 20px;
        //border: 1px solid black;
        &:first-child {
            color: rgb(133, 133, 133);
            font-size: 40px;
            text-decoration: none;
            margin: 20px;
            //border: 1px solid black;
        }
    }
    a.active {
        color: rgb(0, 0, 0);
        text-shadow: 30px;
        text-shadow: 1px 1px 20px rgb(34, 4, 4);
    }
}