@import './misc';
@import './normalize';


.app-wrapper {
  max-width: 1400px;
  min-height: 800px;
  display: grid;
  grid-template: 130px 1fr / 3fr 12fr;
  grid-template-areas: 
  "h h"
  "n c";
  grid-gap: 10px;
  .header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 10fr;
    grid-template-areas: "l h";
    grid-area: h;
    border-bottom: solid;
    border-width: 1px;
    grid-gap: 10px;
    //background-color: burlywood;
    .logo {
      grid-area: l;
      min-width: 200px;
      margin: 15px 0px 5px 10%;
      background-image: url('../images/pngwing.com.png');
      background-size: contain;
      background-repeat: no-repeat;
      //border: 1px solid black;
    }
    .loginBlock__Header {
      display: flex;
      grid-area: h;
      float: right;
      //border: 1px solid black;
      align-self: center;
      justify-self: end;
    } 
  }
  .nav {
    grid-area: n;
    min-width: 250px;
    max-width: 300px;
    min-height: 1000px;
    padding: 30px 10px 0px 10%;
    border-right: solid;
    border-width: 1px;
    //background-color: aqua;
    a {
      display: block;
      color: rgb(133, 133, 133);
      font-size: 30px;
      text-decoration: none;
      margin: 15px;
      //border: 1px solid black;
      &:first-child {
        color: rgb(133, 133, 133);
        font-size: 30px;
        text-decoration: none;
        margin: 15px;
        //border: 1px solid black;
      }
    }
    a.active {
      color: rgb(0, 0, 0);
    }
  }
  .app-wrapper-content {
    min-width: 500px;
    grid-area: c;
    //background-color: rgb(76, 71, 71);
  }
  .content {
    padding: 20px 20px 20px 20px;
    background-color: blanchedalmond;
    .ava {
      width: 150px;
      height: 150px;
      //background: url('../images/Max_Payne.png') center no-repeat ;
      background-size: contain;
    }
    .status {
      height: 15px;
      border: 1px solid black;
    }
  }
  .selectedPage__Users {
    font-weight: 700;
  }
  .userPhoto__Users {
    width: 150px;
    height: 150px;
  }
}






